@import './fonts.css';
@import './tailwind.css';
@import './theme.css';

/* Slick Slider Styles */
.slick-dots {
  bottom: 30px;
}

.slick-dots li button:before {
  font-size: 12px;
  color: white;
  opacity: 0.5;
}

.slick-dots li.slick-active button:before {
  color: white;
  opacity: 1;
}

.slick-prev:before,
.slick-next:before {
  display: none;
}